{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<!-- Main Container -->

<div class="container-fluid mt-3 mb-5">
    <div id="body-header" class="row justify-content-center mt-5">
        <div class="d-flex">
            <h1 class="text-center">Checkout</h1>
        </div>
    </div>
    <div id="body-sales" class="row justify-content-center">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Checkout</h1>
                        <p>
                            Thank you for your patronage. Please provide your details and one our team will be in touch!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                            {{wtf.quick_form(form, button_map={'submit':'success'})}}
                        <br><br>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
