{% extends "layout.html" %}
{% set active_page = active_page|default('index') -%}
{% block content %}
<!-- Main Container -->

<div class="container-fluid">
    <div class="row row-cols">
        <div class="col-md-6">
            <div class="card text-white bg-dark border-secondary" style="height: 110vh">
                <img class="card-body img-fluid" src="{{url_for('static', filename='images/' + product.image)}}">
            </div>
        </div>
        <div class="col-md-6">
            <div id="body-header" class="col" style="height: 5vh">
                <h1 class="text-center">{{product.name}}</h1>
            </div>

            <!-- Product Description -->
            <div id="body-sales" class="col justify-content-center" style="height: 105vh">
                <!-- Buying Options -->
                <h3> Order Now</h3>
                <form action="{{ url_for('main.order') }}" method="POST">
                    <div class="form-row">
                        <input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
                        <input class="btn btn-success" type="submit" value="Add to Basket">
                    </div>
                </form>
                <br>
                <div>
                    <div>
                        <!-- Item Description -->
                        <h4> Price: ${{product.price}} per kg </h4>
                    </div>
                    <div>
                        <h4> Description:</h4>
                    </div>
                    <div>
                        <!-- Description from Database-->
                        <p> {{product.description}}</p>
                        <br>
                        <!-- Filler Text to Demonstrate Layout -->
                        <p> Start Filler Text </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel velit et urna luctus sagittis. Curabitur rhoncus quam erat. Vestibulum sollicitudin lacinia dui, ac tempus turpis vulputate at. Maecenas mattis sodales mi, sed auctor ligula. Ut augue ligula, accumsan quis magna vel, dictum convallis arcu. Etiam mollis elit at quam porta, at ullamcorper libero molestie. Duis sit amet venenatis purus. Morbi neque justo, pretium eget lectus imperdiet, iaculis hendrerit libero. Vivamus feugiat imperdiet pellentesque.

                            Duis fringilla nulla sed libero eleifend, vitae lobortis ante cursus. Curabitur nec velit vel felis ultricies finibus in eu eros. Proin at accumsan magna. Pellentesque ac consequat lectus. Nullam sagittis sem nunc, fringilla cursus metus iaculis nec. Sed dictum ligula ac dolor fringilla, id eleifend nisl hendrerit. Integer sollicitudin dolor nisi, sed elementum nunc tincidunt vitae. Duis at congue lacus. Ut at fermentum ligula. Aliquam tempus bibendum dolor id auctor. Praesent faucibus mi sem, eu molestie neque mollis et.
            
                            Morbi feugiat sapien odio, ut feugiat diam maximus non. Nam orci neque, eleifend at diam non, bibendum tempor purus. Donec in ornare dui, in commodo enim. Quisque pretium imperdiet erat, at ultrices nunc bibendum ut. Mauris ac turpis enim. Nunc tincidunt ligula ut dolor lacinia fermentum. Mauris in risus sed nunc ornare dapibus.
            
                            Sed aliquam eu leo vitae elementum. Sed eu lorem et ex vestibulum iaculis ac consectetur erat. Suspendisse dignissim finibus porta. Sed in tincidunt ipsum. Fusce in tortor id sem vestibulum iaculis. Aliquam vel quam sit amet erat ornare bibendum. Sed vulputate metus sit amet tincidunt pulvinar. Ut id vehicula neque. Aenean sit amet est vel dui scelerisque cursus et eget dolor.
            
                            Suspendisse facilisis ultricies ipsum, eu molestie ipsum. Proin lorem justo, tempor at neque vel, blandit ultricies lacus. Cras urna quam, condimentum quis urna ut, condimentum viverra massa. Maecenas posuere suscipit sollicitudin. Nulla diam velit, dignissim nec sollicitudin eget, condimentum nec erat. Nam at pulvinar nunc, a dignissim enim. Integer ut vestibulum nulla, vel rutrum velit. Aenean felis lacus, fermentum sed justo non, molestie facilisis ligula. Etiam egestas lacus vitae eleifend sagittis. Nullam posuere libero ut lectus varius, a efficitur ante tempus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}