{% extends "layout.html" %}
{% set active_page = active_page|default('index') -%}
{% block content %}
<!-- Main Container -->

<div class="container-fluid">
    <div class="row row-cols">
        <div class="col-md-6">
            <div class="card text-white bg-dark border-secondary" style="height: 110vh">
                <img class="card-body img-fluid" src="{{url_for('static', filename='images/' + product.image)}}">
            </div>
        </div>
        <div class="col-md-6">
            <div id="body-header" class="col" style="height: 5vh">
                <h1 class="text-center">{{product.name}}</h1>
            </div>

            <!-- Product Description -->
            <div id="body-sales" class="col justify-content-center" style="height: 105vh">
                <!-- Buying Options -->
                <h3> Order Now</h3>
                <form action="{{ url_for('main.order') }}" method="POST">
                    <input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
                    <input class="btn btn-success" type="submit" value="Add to Basket">
                </form>

                <br>
                <h4> Price: ${{product.price}} per kg </h4>
                <h4> Description:</h4>
                <p> {{product.description}}</p>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}